<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFJ_m_VjXwGhmKdeglxstnR_WDoiFqH0s</string>
	<key>GCM_SENDER_ID</key>
	<string>770413302766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdullaharslan.userLogin.firebaseLearn</string>
	<key>PROJECT_ID</key>
	<string>lifelesson-cb83f</string>
	<key>STORAGE_BUCKET</key>
	<string>lifelesson-cb83f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770413302766:ios:06481e87b774c5b7dfb4ff</string>
</dict>
</plist>